<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteHomeLogin">
  <test thread-count="5" name="TestHomeLogin">
    <classes>
      <class name="testcases.LoginTest"/>
      <class name="testcases.HomeTest"/>
    </classes>
  </test> <!-- TestHomeLogin -->
</suite> <!-- SuiteHomeLogin -->
